{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": 0
  },
  "overrides": [
    {
      "files": ["./src/models/*.ts"],
      "rules": {
        "import/no-cycle": 0
      }
    }
  ]
}
